@use "../theme.scss" as mat;

$primary-color: map-get(mat.$candle-app-primary, 200);

.image-viewport {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-left: 2vh;
  margin-top: 16px;
  overflow: auto
}

.page-title {
  font-size: 50px;
  color: $primary-color;
  margin-left: 2vw;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh
}

.tabs {
  overflow: hidden;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  ::ng-deep .mat-mdc-tab-header {
    overflow-x: scroll !important;
  }

  ::ng-deep .mat-tab-header-pagination {
    display: none !important;
  }

  ::ng-deep .mat-mdc-tab-label-container {
    overflow: visible !important;
  }

  ::ng-deep .mat-mdc-tab-header::-webkit-scrollbar {
    display: none;
  }
}

.top-banner {
  height: auto;
  width: 100%;
  text-wrap: wrap;
}

.page-content {
  flex: 1 1 90%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.banner-text {
  margin-top: 8px;
  margin-bottom: 8px
}

.banner-href{
  font-weight: bold;
}