.image-viewport{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 2vh;
    margin-top: 16px;
    overflow: auto
}

.page-title{
    font-size: 50px;
    color: #e9e5ad;
    margin-left: 2vh;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
}

.app-container{
    max-height: 90vh;
}

.tabs{
    overflow: hidden;
    max-height: 84vh;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 767px) {
  ::ng-deep .mat-mdc-tab-header {
    overflow-x: scroll !important;
  }
  
  ::ng-deep   .mat-tab-header-pagination {
    display: none !important;
  }

  ::ng-deep .mat-mdc-tab-label-container { 
    overflow: visible !important;
  }

  ::ng-deep .mat-mdc-tab-header::-webkit-scrollbar {
  display: none;
  }
}