<div class="app-container">
  <mat-toolbar color="primary" class="top-banner">
    <span class="banner-text"><b>Achtung:</b> Wir ziehen um! Ab sofort finden Sie diese Website <a
        href="https://maxbramberger.github.io/lisas_kerzen/" class="banner-href">hier</a>. Ab dem 01.07.2024 ist diese
      Website nur noch dort zu erreichen.</span>
  </mat-toolbar>
  <div class="page-content">
    <h1 class="page-title">{{ title }}</h1>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tabs">
      <mat-tab *ngFor="let categoryIter of categories" label="{{ getCategoryDisplayName(categoryIter) }}">
        <div class="image-viewport">
          <app-image-container class="image-container" *ngFor="let path of getImageListByCategory(categoryIter)"
            [path_to_image]="path"></app-image-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>