.image-viewport{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 2vh;
    margin-top: 16px;
    overflow: auto
}

.page-title{
    margin-left: 2vh;
    align-items: center;
}

.app-container{
    max-height: 90vh;
}

.tabs{
    overflow: hidden;
    max-height: 90vh;
}